html {
    box-sizing: border-box;
    font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    font-family: 'Exo',
        Helvetica,
        sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #F4F4F4;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: #0041C7;
}

.inscriptions {
    width: 100vw;
    height: 100vw;
}


/*-- HEADER --*/

header,
h1 {
    font-family: 'Monoton', Helvetica, sans-serif;
}

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: #0041C7;
    color: #F4F4F4;
    border-bottom: 2px dotted #F4F4F4;
    z-index: 2;
}

header p {
    font-size: 2rem;
}

header h2 {
    font-family: 'Titillium Web',
        sans-serif;
    margin-right: .5rem;
}

.headerNav {
    width: 25%;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Titillium Web',
        sans-serif;
}

.headerNav button {
    width: 75%;
}

.headerNav img {
    width: 12%;
    border-radius: 50%;
    padding: .3rem;
}

#usernameHeader {
    font-size: 1.5rem;
    font-family: 'Monoton', Helvetica, sans-serif;
}

.bigTitle {
    margin-left: .5rem;
}

#title {
    cursor: pointer;
}

.editorCode {
    margin-right: 3rem;
    font-size: 2rem;
}

/*-- MAIN --*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 6vh;
    background-color: #0041C7;
    position: relative;
    z-index: 1;
}

.submain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

section {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: .5rem;
    border: 2px dotted #F4F4F4;
}

.logo {
    margin-top: 2rem;
    width: 45vw;
}

.block {
    animation: shadow-pop-tl .2s linear .5s 1;
    /*Set our animation play state to paused initially */
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#block1 {
    animation: shadow-pop-tl .2s linear .5s 1;
    /*Set our animation play state to paused initially */
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#block2 {
    animation: shadow-pop-tl .2s linear 1s 1;
    /*Set our animation play state to paused initially */
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#block3 {
    animation: shadow-pop-tl .2s linear 1.5s 1;
    /*Set our animation play state to paused initially */
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#block4 {
    animation: shadow-pop-tl .2s linear 2s 1;
    /*Set our animation play state to paused initially */
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.explications {
    font-family: 'Titillium Web',
        sans-serif;
}

.signinPage {
    display: flex;
    justify-content: space-around;
    height: 80vh;
}

.signinForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: #0041C7;
    border-radius: .7rem;
    border: 1px solid #F4F4F4;
    border-color: #F4F4F4;
    margin-bottom: .8rem;
}

.username,
.pwd {
    width: 75%;
}

.warning {
    color: #F4F4F4;
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: blink;
    animation: blinking 3s ease-in infinite;
}

/*-----FORM--------*/

form {
    /*visibility: hidden;*/
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: #0041C7;
    border-radius: .7rem;
    border: 1px solid #F4F4F4;
    border-color: #F4F4F4;
    margin-bottom: .8rem;
}

input,
select {
    box-sizing: border-box;
    border-radius: .7rem;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem;
    height: 2rem;
    margin-top: 1rem;
}

input[name="bot-field"] {
    visibility: hidden;
    height: 0rem;
    margin-top: 0;
    padding: 0;
}

input::placeholder {
    color: gray;
    opacity: 0.4;
}

.infos {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#lastName,
#firstName {
    width: 40%;
}

select {
    width: 10%;
}

.mail {
    width: 90%;
}

#email {
    width: 100%;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    width: 50%;
    color: #0041C7;
    background-color: #F4F4F4;
    margin-bottom: 1rem;
    vertical-align: center;
}

p {
    margin: .4rem 0;
}

/*-- OTHER --*/

.wrapperTuto {
    display: flex;
    border-bottom: 1px solid #F4F4F4;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}

.sousTitre {
    font-family: 'Monoton',
        Helvetica,
        sans-serif;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.presentationTuto {
    font-size: 1rem;
}

.detailsTuto {
    font-size: 1rem;
    padding: 1rem 0;
}

.tuto {
    outline: 3px solid #F4F4F4;
    margin: 5rem;
}

.imagesFolder {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F4F4F4;
    margin: 1rem;
    width: 75vw;
}

.imagesContainer {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.images {
    margin: .3rem;
    width: 30%;
}


/*-------------------------------------*/

footer {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
    border-top: 2px dotted #F4F4F4;
    background-color: #0041C7;
    margin-top: 91vh;
    color:#F4F4F4;
}

.containerCoders {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.coders {
    font-size: 2.5rem;
    font-family: 'Monoton';
}

.github {
    fill: #F4F4F4;
    width: 2vw;
    margin-right: 1rem;
}

.gif {
    width: 40vw;
}

a {
    text-decoration: none;
    color: yellowgreen;
    padding: 2rem;
}

a:first-of-type {
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin-left: .5rem;
    margin-top: .5rem;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navigation ul li {
    flex-basis: 13vw;
}

button {
    width: 50%;
    text-decoration: none;
    border: .1rem solid #F4F4F4;
    padding: .5rem;
    background-color: #0041C7;
    color: #F4F4F4;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    animation: shadow-pop-tl .2s linear 1;
    /*Set our animation play state to paused initially */
    animation-play-state: paused;
}

button.nav {
    background-color: #0041C7;
    border: .1rem solid #F4F4F4;
    width: 20%;

}

button:hover,
button:focus {
    background-color: #0041C7;
    color: #F4F4F4;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

img {
    width: 100%;
}

ul {
    margin: 2rem 4rem;
}

li {
    padding-left: 1rem;
}

h1 {
    font-size: 1.5rem;
    padding: .5rem;
}

.shadow-pop-tl {
    -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-12 19:2:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tl
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tl {
    0% {
        -webkit-box-shadow: 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4;
        box-shadow: 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px -1px #F4F4F4, -2px -2px #F4F4F4, -3px -3px #F4F4F4, -4px -4px #F4F4F4, -5px -5px #F4F4F4, -6px -6px #F4F4F4, -7px -7px #F4F4F4, -8px -8px #F4F4F4;
        box-shadow: -1px -1px #F4F4F4, -2px -2px #F4F4F4, -3px -3px #F4F4F4, -4px -4px #F4F4F4, -5px -5px #F4F4F4, -6px -6px #F4F4F4, -7px -7px #F4F4F4, -8px -8px #F4F4F4;
        -webkit-transform: translateX(8px) translateY(8px);
        transform: translateX(8px) translateY(8px);
    }
}

@keyframes shadow-pop-tl {
    0% {
        -webkit-box-shadow: 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4;
        box-shadow: 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4, 0 0 #F4F4F4;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px -1px #F4F4F4, -2px -2px #F4F4F4, -3px -3px #F4F4F4, -4px -4px #F4F4F4, -5px -5px #F4F4F4, -6px -6px #F4F4F4, -7px -7px #F4F4F4, -8px -8px #F4F4F4;
        box-shadow: -1px -1px #F4F4F4, -2px -2px #F4F4F4, -3px -3px #F4F4F4, -4px -4px #F4F4F4, -5px -5px #F4F4F4, -6px -6px #F4F4F4, -7px -7px #F4F4F4, -8px -8px #F4F4F4;
        -webkit-transform: translateX(8px) translateY(8px);
        transform: translateX(8px) translateY(8px);
    }
}

/**
 * ----------------------------------------
 * animation blinking
 * ----------------------------------------
 */

@keyframes blinking {
    0% {
        color: #0041C7
    }

    50% {
        color: #F4F4F4
    }

    100% {
        color: #0041C7
    }
}
